    /* app css stylesheet */
    
    .bg-light-nav {
        background-color: white !important;
        text-transform: uppercase;
        font-weight: 500;
        padding: 20px;
    }
    .navbar-light .navbar-nav .nav-link {
        color: black !important;
        letter-spacing: 2px;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: #ff4f58ff !important;
    }
    .btn-primary {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        text-transform: uppercase;
        font-weight: 500;
    }
    .title {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
    }
    .loginForm {
        margin: 0 auto;

        padding: 50px;
    }
    .loginC {
        padding: 20px;
        margin: 0 auto;
        border: 1px solid #f4f4f4;
    } 

    .spinner-border {
        animation: spinner-border 1s linear infinite !important;
    }
    .alert-success {
        text-align: center;
        text-transform: uppercase;
        color: green;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 14px;
    }
    
    .alert-danger {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 13px;
        color: rgb(102, 10, 10);
    }
    .jumbotron{
        width: 50%;
        padding: 35px;
        margin: 0 auto;
        border: 1px solid rgb(219, 214, 214) !important;
        background-color: white;
        text-align: center;
        margin-bottom: 15px;
    }
    .job{
        margin: 0 auto;
        width: 50%;
        border: 1px solid rgb(219, 214, 214) !important;
        padding: 10px;
        border-radius: .3rem;
        margin-bottom: 15px;
        
    }
    .nav-link{
        color: black !important; 
        font-weight: 500;
        text-transform: uppercase;
        

    }
    .nav-link:hover{
        color: blue !important;
    }
    .active:active{
        border-bottom: 4px blue solid;
    }
    .jobtitle:hover{
        cursor: pointer;
        text-decoration: black underline;
        color: blue;
    }
    .jobtitle{
        color: blue;
        text-transform: uppercase;
        font-weight: 500;
    }
    .spanDesc{
        text-transform: uppercase;
        font-weight: 500;
    }
    .company{
        text-transform: uppercase;
        font-weight: 500;
    }
    .companyDesc{
        font-weight: 500;
    }
    .location{
        font-weight: 500;
        text-transform: uppercase;
    }
    .modal-header{
        border-bottom: 1px solid white;
    }
    .show{
        padding: 0px !important;
    }