<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">

<!--<![endif]-->

<head>
  <link style="border-radius: 50%;" rel="shortcut icon" type="image/x-icon" href="images/skillsbuildlogo.png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SCIENTIA PONTEM SYSTEM</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="mediaqueries.css">
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light-nav">
    <a class="navbar-brand" href="#!/index"><img style="height: 40px; border-radius: 50%;" src="./images/skillsbuildlogo.png" /> Skills Bridge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#staticBackdrop">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#staticBackdrop2">Register</a>
        </li>
      </ul>
    </div>
  </nav>

  <!--jobs start-->
  <div ng-controller="job" id="job" class="container">
    <ul class="nav job" ng-controller="active-navlink">
      <li class="nav-item">
        <a ng-click="navbarLink('navLink')" id="navLink" class="nav-link" href="" ng-click="job()">All Jobs</a>
      </li>
      <li class="nav-item">
        <a ng-click="navbarLink('navLink2')" id="navLink2" class="nav-link" href="#" tabindex="-1"
          aria-disabled="true">Jobs in the Philippines</a>
      </li>
    </ul>
    <!-- employer -->
    <div ng-controller="employerController" id="row-flex-card" class="row my-flex-card"
      style="width: 18rem; border: 1px solid rgb(219, 214, 214) !important; border-radius: .3rem; position: absolute;">
      <div id="header" class="header">
        <strong>Top Employer</strong>
      </div>
    </div>
    <!-- end employer -->
  </div>
  <!-- end jobs-->

  <!-- login -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div ng-controller="loginCtrl" class="loginC">
            <form class="loginForm">
              <h1 class="title">Scientia Pontem System</h1>
              <div ng-show="showError" class="alert alert-danger">
                {{error}}
              </div>
              <div ng-show="showSuccess" class="alert alert-success">
                {{error}}
                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" ng-model="username" class="form-control" id="exampleInputUsername"
                  aria-describedby="usernameHelp" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" ng-model="password" class="form-control" id="exampleInputPassword1" required>
              </div>
              <div class="form-group">
                <a href="#">Forgot Password?</a>
              </div>
              </br>
              <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end login -->

  <div class="modal fade" id="staticBackdrop2" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div ng-controller="loginCtrl" class="loginC">
            <form class="loginForm">
              <h1 class="title">Skills Bridge</h1>
              <div ng-show="showError" class="alert alert-danger">
                {{error}}
              </div>
              <div ng-show="showSuccess" class="alert alert-success">
                {{error}}
                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" ng-model="username" class="form-control" id="exampleInputUsername"
                  aria-describedby="usernameHelp" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" ng-model="password" class="form-control" id="exampleInputPassword1" required>
              </div>
              </br>
              <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    let user_id = window.localStorage.getItem('id');
    if (user_id) {
      window.location.href = '/dashboard';
    }
  </script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>