<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IEs 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <link style="border-radius: 50%;" rel="shortcut icon" type="image/x-icon" href="images/skillsbuildlogo.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SCIENTIA PONTEM SYSTEM</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
    <!--<link rel="stylesheet" href="app.css"> -->
    <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="mediaqueries.css">
</head>

<body>

    <!-- <nav ng-controller="Home" class="navbar navbar-expand-lg navbar-light bg-light profile">
        <a class="navbar-brand" href="" ng-click="home()"><img style="height: 40px; border-radius: 50%;"
                src="./images/skillsbuildlogo.png" /> Skills Bridge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent "
            aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div ng-controller="userProfile" class="collapse navbar-collapse " id="navbarSupportedContent ">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link post" href="#" data-toggle="modal" data-target="#exampleModal">Post a job</a>
                </li>
                <li class="nav-item" ng-controller="Profile">
                    <a id="account-name-profile" class="nav-link profile" href="#" ng-click="profile()"></a>
                </li>
                <li class="nav-item" ng-controller="Logout">
                    <a class="nav-link logout" href="#" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav> -->
    <nav ng-controller="Home" class="navbar navbar-expand-lg navbar-light bg-light-menu">
        <a class="navbar-brand" href="" ng-click="home()"><img style="height: 40px; border-radius: 50%;"
                src="./images/skillsbuildlogo.png" /> Skills Bridge</a> <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div ng-controller="userProfile" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="ul-navbar" class="navbar-nav ml-auto">
                <li id="post-job-li" class="nav-item">
                    <a id="post-job" class="nav-link post-job" href="#" data-toggle="modal"
                        data-target="#exampleModal">Post a job</a>
                </li>
                <li class="nav-item" ng-controller="Logout">
                    <a class="nav-link" href="#" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--about me-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="margin-top: 50px; width: 20rem;">
                    <img style="padding: 5px;" src="./images/images.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><strong>Name: </strong><span>Jesus</span></p>
                        <p class="card-text"><strong>Age: </strong> <span>19</span></p>
                        <p class="card-text"><strong>Location: </strong> <span>Taguig</span></p>
                        <p class="card-text"><strong>Work Experience: </strong> <span>15 Years</span></p>
                        <p class="card-text"><strong>Degree: </strong> <span>BSIT</span></p>
                    </div>
                </div>
            </div>
            <div ng-controller="aboutUser" class="col-sm-6">
                <div class="about">
                    <label class="label">About me</label>
                </div>
                <div id="aboutMecard" style="margin-top: 100px;position: absolute; left: -220px; width: 49.4rem;" class="card">
                   
                </div>
            </div>
        </div>
    </div>
    <!--about me end-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script src="lib/angular/angular.js "></script>
    <script src="lib/angular-route/angular-route.js "></script>
    <script src="app.js "></script>
    <script src="view1/view1.js "></script>
    <script src="view2/view2.js "></script>
    <script src="core/version/version.js "></script>
    <script src="core/version/version-directive.js "></script>
    <script src="core/version/interpolate-filter.js "></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
        crossorigin="anonymous "></script>
    <script>
        let user_id = window.localStorage.getItem('id');
        if (!user_id) {
            window.location.href = '/dashboard';
        }
    </script>
</body>

</html>