.card {
    padding: 20px;
    margin: 25px;
}
.profile{
    background-color: white !important;
}
.logout, .post {
    text-transform: uppercase;
    color: black !important;
    font-weight: 500;
}
.navbar-brand{
    text-transform: uppercase;
    font-weight: 500;
}